#alerts-btn-box {
    margin: auto 0 auto 1rem;
}

.alerts-button {
    font-size: 30px;
    margin: auto 1rem auto 0;
    cursor: pointer;
}

#alerts-message div:not(:last-child) {
    border-bottom: 1px solid lightgrey;
}

#alerts-message div p {
    margin-bottom: 0.5rem;
}

#alerts-message div p:first-child {
    margin-top: 0.5rem;
}

#alerts-message div p:last-child {
    margin-bottom: 0.75rem;
}