#alerts {
    margin: 1rem;
    position: fixed;
    left: calc(50% - 400px);
    top: calc(50% - 200px);
    width: 800px;
    height: 400px;
    background-color: white;
    overflow-y: auto;
    border: 1px solid black;
}

#alerts-title h4 {
    margin: 1.5rem;
    font-size: 24px;
}

.close-alerts-icon {
    position: relative;
    top: 0;
    right: 0;
    font-size: 24px;
    margin: 0.5rem 0.5rem 0 0;
    cursor: pointer;
}

#alerts-message p {
    font-size: 16px;
    margin: 0 1.5rem 1rem 1.5rem;
}